.homeDisplay {
    margin-left: 10vw;
    color: #000000DE;
    text-align: left;
  }
  
  .homeDisplay h1 {
    font: normal normal 300 84px/96px Roboto;
    margin: 20vh 0;
    letter-spacing: -0.5px;
    opacity: 1;
  }
  
  .homeDisplay h2 {
    font: normal normal normal 34px/96px Roboto;
  }